html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root{
   --light-blue: #2998ff;
   --dark-blue: #135cc5;
   --light-red: #f87171;
   --dark-red: #dc2626;
   --dark-brown:#5C4033;
   --brown: #964B00;
   --beige: #ffe4c4;
   --black:#000000;
   --gray: #252c30;
   --silver: 	#C0C0C0;
   --gold: #CD853F;
   --ash: #544C4A;
   --cool-brown: #C1ABA6;
   --primary: var(--beige);
   --secondary: var(--cool-brown);
}



body {
  background-color: var(--primary);
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.117),
    rgba(55, 2, 2, 0.203)
  ), url("https://images.unsplash.com/photo-1489564239502-7a532064e1c2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2hlZiUyMG1ha2luZyUyMHBpenphfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  backdrop-filter: blur(4.5px);
  background-size: 200vh
}

.header {
  background-color: var(--black); 
}

.website-header {
  font-size: 4rem;
  background-color: var(--secondary) ;
  text-align: center;
  border: black solid 4px;
  border-radius: 20px;
  padding: 19px;
}

.header-animation {
  margin: 0px auto;
  text-align: center;
  color: rgb(255, 228, 196);
  font-size: 10vh;
  background-color: black;
}

.animation {
  background-color: rgb(0, 0, 0);
  height: 40vh;
}

.button{
  padding: 1.5rem 4rem;
  height: 7rem;
  width: 20rem;
  border-radius: 10rem;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  display: flex;
  transform: all 2.0s;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}

.background {
  width: 190.5rem;
  height: 220rem;
}

.lightmode{
--primary: var(--beige);
--secondary: var(--cool-brown);
color: black;
}

.darkmode{
--primary: var(--ash);
--secondary: var(--black);
color: rgb(255, 228, 196);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

