html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root{
   --light-blue: #2998ff;
   --dark-blue: #135cc5;
   --light-red: #f87171;
   --dark-red: #dc2626;
   --dark-brown:#5C4033;
   --brown: #964B00;
   --beige: #ffe4c4;
   --black:#000000;
   --cool-brown: #C1ABA6;
   --primary: var(--beige);
   --secondary: var(--cool-brown);
}



body {
  background-color: var(--primary);
}

.website-header {
  font-size: 3.2rem;
  line-height: 1.1;
  background-color: var(--cool-brown) ;
  text-align: center;
}

.header-animation {
  margin: 0px auto;
  text-align: center;
  color: rgb(255, 228, 196);
  font-size: 10vh;
  background-color: black;
}

.animation {
  background-color: blue;
  height: 90vh;
}

.btn{

}


.lightmode{

}

.darkmode{

}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 130vh;
  width: 100vw;
}

