html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root{
   --light-blue: #2998ff;
}

body {
  background-color: var(--light-blue);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.header-animation {
  margin: 0px auto;
  text-align: center;
  color: yellow;
  font-size: 10vh;
  background-color: black;
}

.animation {
  background-color: blue;
  height: 90vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 130vh;
  width: 100vw;
}

